# Common
build/
bin/
*.log

# VSCode
.vscode/

# Visual Studio
.vs/
out/

# Clion
cmake-build-*/
.idea/

.cache/
# Documentation site output (mkdocs build, see mkdocs.yml)
site/

# Unattended render-test / capture byproducts
*.ppm
*.tmp
capture_*
.workbuddy/

LearnOpenGL/

